# Database Config
## When using local mongodb
# MONGO_URI="mongodb://127.0.0.1:27017/example?replicaSet=rs0&directConnection=false"
## When using docker mongodb
MONGO_URI="mongodb://mongodb:27017/example?replicaSet=rs0&directConnection=false"
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=example

# Mongo Express
MONGOEXPRESS_USER=admin
MONGOEXPRESS_PASSWORD=admin

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Email Sender
# Generate at: https://myaccount.google.com/apppasswords
EMAIL_PASS="your_16_character_password"
# The full Gmail address (e.g., dev.alerts@gmail.com)
EMAIL="your@gmail.com"

JWT_SECRET="supersecret777"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="YOUR_NEXTAUTH_SECRET"
NEXTAUTH_URL=http://localhost:3000

# OAUTH CONFIG
GITHUB_ID="your_github_id"
GITHUB_SECRET="your_github_secret"
GOOGLE_CLIENT_ID="your_google_id"
GOOGLE_CLIENT_SECRET="your_google_secret"