.themed-root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.4349 0.2384 285.78);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9232 0.0042 236.5);
  --secondary-foreground: oklch(0.1405 0.0044 285.8238);
  --muted: oklch(0.9232 0.0042 236.5);
  --muted-foreground: oklch(0.5513 0.0233 264.3647);
  --accent: oklch(0.9232 0.0042 236.5);
  --accent-foreground: oklch(0.1405 0.0044 285.8238);
  --destructive: var(--color-red-600);
  --destructive-foreground: oklch(0.9848 0 0);
  --destructive-text: var(--color-red-700);
  --destructive-muted: var(--color-red-500);
  --border: oklch(0.87 0.01 258);
  --input: oklch(0.9278 0.0058 264.5314);
  --ring: oklch(0.4349 0.2384 285.78);
  --chart-1: oklch(0.4349 0.2384 285.78);
  --chart-2: oklch(0.5508 0.0994 234.7926);
  --chart-3: oklch(0.8086 0.1812 151.0237);
  --chart-4: oklch(0.8601 0.173 91.8379);
  --chart-5: oklch(0.6559 0.2191 354.4197);
  --sidebar: oklch(0.9843 0.0017 247.8393);
  --sidebar-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-primary: oklch(0.4349 0.2384 285.78);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9232 0.0042 236.5);
  --sidebar-accent-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-border: oklch(0.9278 0.0058 264.5314);
  --sidebar-ring: oklch(0.4349 0.2384 285.78);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.03);
  --shadow-xs: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.03);
  --shadow-sm: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.05), 0px 1px 2px -3px hsl(240 10% 3.9% / 0.05);
  --shadow: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.05), 0px 1px 2px -3px hsl(240 10% 3.9% / 0.05);
  --shadow-md: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.05), 0px 2px 4px -3px hsl(240 10% 3.9% / 0.05);
  --shadow-lg: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.05), 0px 4px 6px -3px hsl(240 10% 3.9% / 0.05);
  --shadow-xl: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.05), 0px 8px 10px -3px hsl(240 10% 3.9% / 0.05);
  --shadow-2xl: 0px 4px 8px -2px hsl(240 10% 3.9% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --sb-track-color: var(--color-muted);
  --sb-thumb-color: var(--card-foreground);
}

.themed-root.dark {
  --background: oklch(0.2293 0.0153 264.2095);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0.2293 0.0153 264.2095);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0.2293 0.0153 264.2095);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.5337 0.2808 293.24);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2915 0.0168 264.2705);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.2915 0.0168 264.2705);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.3917 0.0168 268.13);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.5551 0.226 28.22);
  --destructive-foreground: oklch(0.9848 0 0);
  --destructive-text: oklch(0.65 0.22 16);
  --destructive-muted: oklch(0.7208 0.1676 19.15);
  --border: oklch(0.311 0.0184 264.2611);
  --input: oklch(0.311 0.0184 264.2611);
  --ring: oklch(0.4913 0.2588 287.18);
  --chart-1: oklch(0.4913 0.2588 287.18);
  --chart-2: oklch(0.5508 0.0994 234.7926);
  --chart-3: oklch(0.8086 0.1812 151.0237);
  --chart-4: oklch(0.8601 0.173 91.8379);
  --chart-5: oklch(0.6559 0.2191 354.4197);
  --sidebar: oklch(0.2085 0.0131 264.2375);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.4913 0.2588 287.18);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.2915 0.0168 264.2705);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.311 0.0184 264.2611);
  --sidebar-ring: oklch(0.4913 0.2588 287.18);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.35rem;
  --shadow-2xs: 0px 6px 12px -3px hsl(220 18% 0% / 0.15);
  --shadow-xs: 0px 6px 12px -3px hsl(220 18% 0% / 0.15);
  --shadow-sm: 0px 6px 12px -3px hsl(220 18% 0% / 0.3), 0px 1px 2px -4px hsl(220 18% 0% / 0.3);
  --shadow: 0px 6px 12px -3px hsl(220 18% 0% / 0.3), 0px 1px 2px -4px hsl(220 18% 0% / 0.3);
  --shadow-md: 0px 6px 12px -3px hsl(220 18% 0% / 0.3), 0px 2px 4px -4px hsl(220 18% 0% / 0.3);
  --shadow-lg: 0px 6px 12px -3px hsl(220 18% 0% / 0.3), 0px 4px 6px -4px hsl(220 18% 0% / 0.3);
  --shadow-xl: 0px 6px 12px -3px hsl(220 18% 0% / 0.3), 0px 8px 10px -4px hsl(220 18% 0% / 0.3);
  --shadow-2xl: 0px 6px 12px -3px hsl(220 18% 0% / 0.75);
  --sb-track-color: var(--color-muted);
  --sb-thumb-color: var(--color-muted-foreground);
}
